.kb {
  border-radius: 3px;
  color: rgb(99, 99, 99);
  padding: 3px;

  &Success {
    color: #2ab574;
    font-family: 'Inter', sans-serif;
  }

  &Red {
    background-color: #f05755;
    color: #fff;
  }

  &Green {
    background-color: #2ab574;
    color: #fff;
  }
}
