.hiddenInput {
  left: -9999px;
  position: absolute;
}

.race {
  &InfoBlock {
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    min-height: 120px;
    padding: 15px;
  }
}
